<div class="container">
  <section class="hero">
    <p>Sua comida favorita está aqui!</p>
    <img
      src="../../../assets/icons/notification-icon.svg"
      alt="Ícone de notificação"
    />
  </section>
  <section class="search-input">
    <div>
      <span class="search-icon">
        <img src="../../../assets/icons/search-icon.svg" alt="Ícone de busca" />
      </span>
      <input type="text" placeholder="O que você gostaria de comer hoje?" />
      <span class="filter-icon">
        <img
          src="../../../assets/icons/filter-icon.svg"
          alt="Ícone de filtro de pesquisa"
        />
      </span>
    </div>
  </section>
  <section class="food-pictures">
    <app-carousel [items]="dishes"></app-carousel>
  </section>
  <section class="food-type">
    <div>Tipos de pratos</div>
  </section>
  <section class="special-offers">
    <div>Ofertas Especiais</div>
  </section>
  <section class="popular-orders">
    <div>Pedidos Populares</div>
  </section>
  <app-navigation></app-navigation>
</div>
