<div class="background">
  <div class="container">
    <img src="../../assets/logo-removebg-preview.png" alt="Imagem de destaque" class="top-image" />
    <h1 class="logo">TiTiTiDelivery</h1>
    <h2>Crie sua conta</h2>
    <form [formGroup]="formCadastro" (ngSubmit)="onSubmit()">
      <input type="text" formControlName="username" placeholder="Usuário" required />
      <input type="text" formControlName="firstName" placeholder="Nome" required />
      <input type="text" formControlName="lastName" placeholder="Sobrenome" />
      <input type="email" formControlName="email" placeholder="Email" required />
      <div class="password-container">
        <input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="Senha" required />
        <span (click)="togglePasswordVisibility()" class="eye-icon">👁️</span>
      </div>
      <br /><br />
      <button type="submit" [disabled]="formCadastro.invalid">Criar Conta</button>
    </form>
    <br>
    <p>Ou</p>
    <p class="login-text">
      Já tem uma conta? <a href="#">Login</a>
    </p>
  </div>
</div>
