<section class="navigation">
  <div>
    <a [routerLink]="['']">
      <img
        src="../../../assets/icons/home-icon.svg"
        alt="Ícone para ir a homepage"
      />
    </a>
    <img
      src="../../../assets/icons/profile-icon.svg"
      alt="Ícone do perfil do
		usuário"
    />
    <a [routerLink]="['/carrinho']">
      <img
        src="../../../assets/icons/cart-icon.svg"
        alt="Ícone do carrinho do usuário"
      />
    </a>
    <img
      src="../../../assets/icons/chat-icon.svg"
      alt="Ícone do chat do usuário"
    />
  </div>
</section>
